#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  padding: 0px;
  text-align: center;
}



body {
  font-weight: 400;
  overflow-x: hidden;
  position: relative;
  background-color: white !important;
  /* background: radial-gradient(circle, #acabb3 10%, transparent 11%);
        background-size: 1em 1em;
        background-color: #ffffff;
        opacity: 0.35; */
  color: black !important;
  font-family: "cursive", sans-serif !important;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  margin-top: 70px;
  padding: 2rem;
}

.grid2 {
  display: grid;
  /* grid-template-columns: 1fr 1fr; */
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
}


.grid3 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  margin-top: 70px;
  padding: 2rem;
}

.grid4{
  display: grid;
  grid-template-rows: 100px 750px 20px;
  margin-top: 40px;
}

.forMargin {
  margin: 100px 30px 0px 30px;
}

.meetFarmCard {
  display: inline-block;
  height: 600px;
  width: 800px;
  margin-top: 80px;
}

.activities {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 100px;
  margin-bottom: 150px;
}

.activity {
  margin: 5px 10px;
  padding: 40px 20px;
  transition: all 0.500s;
}

.activity2 {
  margin: 5px 10px ;
  padding: 40px 20px;
  transition: all 0.500s;
}

.infoCard {
  margin: 5px 10px;
  padding: 40px 20px;
}

.atag  {
  border-radius: 2em;
  border: 2px solid black;
  padding: 20px 0px;
  width: 300px;
  height: 110px;
  background-color: white;
}

.textcardborder {
  border-radius: 0.5em;
  border: 2px ;
  background-color: white;
}

.activity:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.activity2:hover {
  transform: scale(1.1);
  cursor: pointer;
}


.previous {
  background-color: white;
  color: black;
  padding: 0px 9px;
}

.next {
   background-color: white;
  color: black;
  padding: 0px 9px;
}

.round {
  border-radius: 50%;
}

.previous:hover {
  background-color: #ddd;
  color: black;
}

.next:hover {
  background-color: #ddd;
  color: black;
}

.newflex {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.imageFullScreen{
  margin: 0px 0px 30px 0px;

}


.form__group {
  position: relative;
  padding: 15px 0 0;
  width: 50%;
}

.form__field {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid #9b9b9b;
  outline: 0;
  font-size: 1rem;
  color: black;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;

  &::placeholder {
    color: transparent;
  }

  &:placeholder-shown ~ .form__label {
    font-size: 1.3rem;
    cursor: text;
    top: 20px;
  }
}

.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: #9b9b9b;
}

.form__field:focus {
  ~ .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: #11998e;
    font-weight:700;    
  }
  padding-bottom: 6px;  
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(45deg, rgb(0,143,104), rgb(66, 250, 118)) 1;
  border-image-slice: 1;
}

.inputDesign {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
}

.gridToAquipment {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 20px;
  margin-top: 30px;
}

.noItems{
  display: flex;
  justify-content: center;
}

.styleIconWeather {
  width: 80px;
  height: 80px;
}

/* horse */

@font-face {
	font-family: Muybridge;
	src: url(https://www.lorp.org/fonts/MuybridgeGX.woff2);
}

@keyframes Gallop {
	from { font-variation-settings: "TIME" 0; }
	to { font-variation-settings: "TIME" 15; }
}

.horse {
	font: 280px Muybridge;
	animation: 0.6s linear infinite Gallop;
}

.horse:hover {
  animation-duration: 3s;
}


/* horse */


.horse2 {
	max-width: 100vw;
	max-height: 100vh;
	/* background-image: url("http://s18.postimg.io/49u99igkp/field_008.jpg"); */
	background-size: contain;
	background-repeat: repeat-x;
}

h3 {
	text-align: center;
}

.horseImg {
	max-width: 200px;
	max-height: 100vh;
}

.horseImg:focus {
	outline: none;
	animation: runningHorse 10s linear infinite;
}

@keyframes runningHorse {
	50% {
		margin-left: 75%;
		transform: rotateY(70deg) scale(.6);
	}
	55% {
		margin-left: 80%;
		transform: rotateY(180deg) scale(.7);
	}
	95% {
		transform: rotateY(160deg) scale(.8);
	}
}


/* horse */

/* floating button to go up */

.top-to-btm{
  position: relative;
}
.icon-position{
  position: fixed;
  bottom: 40px;
  right: 25px;
  z-index: 20;
}
.icon-style{
  background-color: white;
  border: 1px solid black;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  color: #fff;
  cursor: pointer;
  animation: movebtn 3s ease-in-out infinite;
  transition: all .5s ease-in-out;
}
.icon-style:hover{
  animation: none;
  background: #948888;
  color: #551B54;
  /* border: 2px solid #551B54; */
}
@keyframes movebtn {
  0%{
    transform: translateY(0px);
  }
  25%{
    transform: translateY(20px);
  }
  50%{
    transform: translateY(0px);
  }
  75%{
    transform: translateY(-20px);
  }
  100%{
    transform: translateY(0px);
  }
}

  /* floating button to go up */

  